.design-img{
  margin-left:8%;
  
}

.talk-text h1{
  margin-top:0;
  margin-left:3%;
  
}
.work-together{
  display:inline-block;
  
}


.h3{
  color:#6b70ff;
  
}

.talkbox-arrow{
  position:absolute;
  right:4%;
  bottom:12px
  
}